.App {
  background-color: #D8D8D8;
  font-family: 'Poppins';
  position: relative;
}

.video-background {
  position: relative;
  width: auto;
  height: 100vh;
}video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 0px;
}h1{
  position: absolute;
  color: rgb(218, 218, 218, 0.9);
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  left: 7%;
  bottom: 27%;
}h2{
  position: absolute;
  color: rgb(218, 218, 218, 0.9);
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  left: 7%;
  bottom: 19%;
}

.video-button {
  width: 140px;
  height: 35px;
  font-size: 16px;
  border-radius: 5px;
  background: transparent;
  border: solid 3px;
  border-color: rgb(218, 218, 218, 0.9);
  color: rgb(218, 218, 218, 0.9);
  position: absolute;
  left: 7%;
  bottom: 14%;
  transition-duration: 0.4s;
}
.video-button:hover{
  color: rgb(190, 190, 190, 0.9);
  border-color: rgb(180, 180, 180, 0.9);
  background-color: rgb(218, 218, 218, 0.15);;
}

.big-logo-container{
  width: 330px;
  height: 100px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
  border-bottom: solid rgba(32, 30, 36, 0.867);
  margin-bottom: 15px;
  transition: opacity 0.4s ease-out;
}.big-logo-container.scrolled{
  opacity: 0;
}

.big-logo-container2{
  width: auto;
  height: 85px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid rgba(32, 30, 36, 0.867);
  transition: opacity 0.4s ease-out;
}.big-logo-container2.scrolled{
  opacity: 0;
}


.big-logo1{
  font-size: 32px;
  margin-left: 3px;
  margin-right: 5px;
  color: rgba(32, 30, 36, 0.867); 
  opacity: 1;
  transition: opacity 0.4s ease-out;
}
.big-logo1.scrolled{
  opacity: 0;
}

.big-logo2{
  font-size: 32px;
  margin-left: 3px;
  margin-right: 5px;
  color: rgba(32, 30, 36, 0.867); 
  opacity: 1;
  transition: opacity 0.4s ease-out;
}
.big-logo2.scrolled{
  opacity: 0;
}

.big-logoimg{
  height: 70px;
  margin-bottom: 5px;
  opacity: 1;
  transition: opacity 0.4s ease-out;
}
.big-logoimg.scrolled{
  opacity: 0;
}

.bookmark{
  height: 300px;
  width: 600px;
  position: absolute;
  left: 0;
  top: 0%;
  background-color: transparent;
  transition: opacity 0.4s ease-out;
  opacity: 1;
}.bookmark.scrolled{
  opacity: 0;
}

.bookmark-start{
  height: 120px;
  width: 170px;
  background-color:  rgba(218, 218, 218, 0.75);;
  position: absolute;
  left: 0;
  top: 50%;
  box-shadow: 0px 0px 4px 0px;
}.parallelogram{
  width: 138px;
	height: 60px;
	transform: skew(30deg) rotate(120deg);
	background:  rgb(218, 218, 218, 0.7);;
  box-shadow: 0px 0px 1px 0px;
  position: absolute;
  top: 55%;
  left:11.1%;
}.bookmark-end{
  height: 120px;
  width: 450px;
  background-color:  rgb(218, 218, 218, 0.95);;
  position: absolute;
  left: 16.7%;
  top: 40%;
  box-shadow: 0px 0px 4px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-frame{
  margin-top: 80px;
  width: 100vw;
  max-width:100%;  /* added */
  background-color: white;
  height: 400px;
  display: grid;
  justify-content: center;
  position: relative;
}.photo-frame:hover .left-arrow{
  opacity: 1;
  visibility: visible;
  transition-duration: 0.4s;
  animation: slideInLeftArrow 0.4s forwards;
}.photo-frame:hover .right-arrow{
  opacity: 1;
  visibility: visible;
  transition-duration: 0.4s;
  animation: slideInRightArrow 0.4s forwards;
}

.gallery-button{
  width: 140px;
  height: 35px;
  font-size: 16px;
  border-radius: 5px;
  background: transparent;
  border: solid 2px;
  color: rgb(78, 75, 92);
  border-color: rgb(78, 75, 92);
  transition-duration: 0.4s;
}.gallery-button:hover{
  color: rgb(78, 75, 92, 0.8);
  border-color: rgb(78, 75, 92, 0.7);
}

.button-div{
  display: flex;
  justify-content: center;
}

.scroll-frame{
  width: 100%;
  margin-top: 50px;
  margin-bottom: 0px;
  background-color: transparent;
  height: 260px;
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  overflow-y: hidden;
  align-items: center;
  transition-duration: 4ms;
  position: relative;
  scroll-behavior: smooth;
}

.right-arrow{
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: rgba(255,255,255,0.9);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1),
              4px 0px 10px rgba(0, 0, 0, 0.1),
             -4px 0px 10px rgba(0, 0, 0, 0.1);;
  right: 2.9%;
  top: 155px;
  justify-content: center;
  display: flex;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  transition-duration: 0.4s;
  animation: slideOutRightArrow 0.4s forwards;
}.right-arrow:hover{
  background-color: rgba(255,255,255,1);
}

.right-a{
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: rgba(255,255,255,0.9);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1),
              4px 0px 10px rgba(0, 0, 0, 0.1),
             -4px 0px 10px rgba(0, 0, 0, 0.1);;
  right: 2.9%;
  top: 155px;
  justify-content: center;
  display: flex;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  transition-duration: 0.4s;
  animation: slideOutRightArrow 0.4s forwards;
}

.left-arrow{
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: rgba(255,255,255,0.9);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1),
              4px 0px 10px rgba(0, 0, 0, 0.1),
             -4px 0px 10px rgba(0, 0, 0, 0.1);;
  left: 2.9%;
  top: 155px;
  justify-content: center;
  display: flex;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  animation: slideOutLeftArrow 0.4s forwards;
  transition-duration: 0.4s;
}.left-arrow:hover{
  background-color: rgba(255,255,255,1);
}.left-arrow:hover .arrow-x1{
  background-color: rgb(0, 0, 0);
}.left-arrow:hover .arrow-x2{
  background-color: rgb(0, 0, 0);
}

.left-a{
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: rgba(255,255,255,0.9);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1),
              4px 0px 10px rgba(0, 0, 0, 0.1),
             -4px 0px 10px rgba(0, 0, 0, 0.1);;
  left: 2.9%;
  top: 155px;
  justify-content: center;
  display: flex;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  transition-duration: 0.4s;
  animation: slideOutLeftArrow 0.4s forwards;
}

.arrow-div{
  width: 15px;
  height: 15px;
  position: relative;
}

.arrow-x1{
  position: absolute;
  width: 15px;
  height: 3px;
  border-radius: 2px;
  background-color: rgb(53, 53, 53);
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  transition-duration: 0.4s;
}

.arrow-x2{
  position: absolute;
  width: 15px;
  height: 3px;
  border-radius: 2px;
  background-color: rgb(53, 53, 53);
  bottom: 62%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  transition-duration: 0.4s;
}
/* Firefox */

/*.scroll-frame {
  overflow-x: auto; 
  overflow-y: hidden; 
  scrollbar-width: thin; 
  scrollbar-color: #bebebe transparent; 
}*/

/* .scroll-frame::-webkit-scrollbar {
  display: block;
  height: 5px;
}
.scroll-frame::-webkit-scrollbar-track {
  background: transparent;
}
  
.scroll-frame::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-right: none;
  border-left: none;
  border-radius: 50px;
}
.scroll-frame::-webkit-scrollbar-thumb:hover {
  background-color: rgb(148, 148, 148);

}
.scroll-frame::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-left: 50px;
  margin-top: 10px;
}
.scroll-frame::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-right: 50px;
  margin-top: 10px;
} */


.scroll-photo{
  margin-left: 25px;
  margin-right: 25px;
  height: 100%;
  width: 400px;
  object-fit: cover;
}

.title{
  color: #4E4B5C;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 120px;
  margin-bottom: 0px;
}

.kata-container{
  position: relative;
  display: flex;
}
.katacontainer{
  width: 50%;
  height: 100%;
  position: relative;
}
.katatextbox{
  width: 50%;
  justify-content: center;
  align-items: center;
}
.katatitle{
  font-weight: 600;
  font-size: 30px;
  margin-top: 7%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  color: #323038;
  white-space: normal;
}
.katatextcontainer{
  width: 100%;
  display: flex;
  justify-content: center;
}
.katatext{
  font-weight: 500;
  height: auto;
  white-space: normal;
  overflow: hidden;
  font-size: 21px;
  width: 550px;
  margin-bottom: 5%;
  max-width: 80%;
  justify-content: center;
  margin-top: 5%;
  color: #323038;
}

.kata1{
  width: 1500px;
  height: auto;
  background-color: white;
  box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  right: 0;
  position: relative;
  display: flex;
  max-width: 100%;
}
.kataphoto1{
  height: 100%;
  position: absolute;
  width: 100%;
  left: 0;
  max-width: 100%;
  object-fit: cover;
}

.kata2{
  width: 1500px;
  margin-top: 100px;
  height: auto;
  background-color: white;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  display: flex;
  max-width: 100%;
}
.kataphoto2{
  height: 100%;
  position: absolute;
  right: 0;
  max-width: 100%;
  object-fit: cover;
}

.squad{
  width: 100vw;
  max-width: 100%;
  height: 500px;
  background-color: white;
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.10); 
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.squad-container{
  width: 1280px;
  max-width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  overflow-x: scroll;
  scrollbar-width: none;
  align-items: center;
}

.squad-card{
  width: 200px;
  min-width: 200px;
  height: 80%;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
}

.squad-img{
  width: 100%;
}

.squad-name{
  font-size: 26px;
}

.squad-title{
  font-size: 20px;
}

.underline-box{
  width: 100%;
  height: 30px;
  /* background-color: green; */
  margin-bottom: 30px;
  align-items: center;
  justify-items: center;
  display: grid;
}
.underline1{
  width: 540px;
  height: 4px;
  background-color: #4E4B5C;
  margin-right: 0.5%;
  border-radius: 1px;
}
.underline2{
  width: 450px;
  height: 4px;
  background-color: #4E4B5C;
  margin-right: 0.5%;
  border-radius: 1px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes slideOutLeftArrow {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(-20px);
  }
}

.slideOutLeftArrow {
  opacity: 1;
}

.slideOutLeftArrow.animated {
  animation: slideOutLeftArrow 0.5s ease-in;
  opacity: 0;
}

@keyframes slideInLeftArrow {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slideInLeftArrow {
  opacity: 0;
}

.slideInLefArrowt.animated {
  animation: slideInLeftArrow 0.8s ease-out;
  opacity: 1;
}


.filler{
  height: 550px;
  width: calc((100vw - 1700px)/2);
  background-color: white;
  box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@keyframes slideOutRightArrow {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(20px);
  }
}

.slideOutRightArrow{
  opacity: 1;
}

.slideOutRighArrow.animated {
  animation: slideOutRightArrow 0.5s ease-in;
  opacity: 0;
}

@keyframes slideInRightArrow{
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slideInRightArrow {
  opacity: 0;
}

.slideInRightArrow.animated {
  animation: slideInRightArrow 0.8s ease-out;
  opacity: 1;
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.disappear {
  opacity: 1;
}

.disappear.animated {
  animation: disappear 0.4s ease-out forwards;
}
