.Apply {
    background-color: #D8D8D8;
    font-family: 'Poppins';
    position: relative;
}

.container{
    width: 100%;
    padding-top: 30px;
    height: 650px;
    display: flex;
    justify-content: center;
    background-color: white;
}

.redirect{
    height: 100vh;
    width: 100vw;
    background-color: rgba(32, 30, 36, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    opacity: 1;
    visibility: visible;
    left: 0;
    top: 0;
    z-index: 991;
    transition-duration: 0.3s;
}

.redirect-box{
    width: 420px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 2px;
    text-align: center;
}

.redirect-title{
    color: #323038;
    font-size: 20px;
    margin-top: 35px;
}

.redirect-text{
    color: #323038;
    font-size: 18px;
}

.big-logo-containerapply2{
    width: auto;
    height: 85px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.big-logoapply1{
    font-size: 26px;
    margin-left: 3px;
    margin-right: 5px;
    color: rgba(32, 30, 36, 0.867); 
}
.big-logoapply2{
    font-size: 26px;
    margin-left: 3px;
    margin-right: 5px;
    color: rgba(32, 30, 36, 0.867); 
}
.big-logoimgapply{
    height: 55px;
    margin-bottom: 5px;
}

.apply-input-div{
    position: relative;
    width: 360px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input3{
    width: 150px;
    border: 0;
    border-bottom: 2px solid;
    border-color: #cfcfcf;
    height: 40px;
    font-size: 16px;
    font-family: arial;
    color: #323038;
    margin-bottom: 20px;
    transition: color 0.4ms ease-out;
}.input3::placeholder {
    color: #a7a7a7;
    opacity: 1; /* Firefox */
    transition: color 0.4ms ease-out;
}.input3:focus{
    outline: none;
    border-bottom: 2px solid;
    border-color: #808080;
    transition-duration: 0.4ms;
    transition: color 0.4ms ease-out;
}

.input4{
    width: 153px;
    border: 0;
    border-bottom: 2px solid;
    border-color: #cfcfcf;
    height: 42px;
    font-size: 16px;
    font-family: arial;
    color: #323038;
    margin-bottom: 20px;
    transition: color 0.4ms ease-out;
}.input4::placeholder {
    color: #a7a7a7;
    opacity: 1; /* Firefox */
    transition: color 0.4ms ease-out;
}.input4:focus{
    outline: none;
    border-bottom: 2px solid;
    border-color: #808080;
    transition-duration: 0.4ms;
    transition: color 0.4ms ease-out;
}

.input5{
    width: 150px;
    border: 0;
    border-bottom: 2px solid;
    border-color: #cfcfcf;
    height: 45px;
    margin-right: -4px;
    font-size: 16px;
    font-family: arial;
    color: #323038;
    margin-bottom: 20px;
    transition: color 0.4ms ease-out;
}.input5::placeholder {
    color: #a7a7a7;
    opacity: 1; /* Firefox */
    transition: color 0.4ms ease-out;
}.input5:focus{
    outline: none;
    border-bottom: 2px solid;
    border-color: #808080;
    transition-duration: 0.4ms;
    transition: color 0.4ms ease-out;
}

.input-apply-div{
    position: absolute;
    right: 5%;
    bottom: 15px;
}

.t3{
    font-size: 16px;
    color: #7a7a7a;
}

.apply-input-container{
    height: 90%;
    width: auto;
    position: relative;
    display: grid;
}

.route-box{
    width: 50%;
    height: 100%;
    position: relative;
    display: grid;
    justify-items: center;
}

.route-img{
    width: 90%;
    height: 300px;
    background-color: wheat;
    margin-top: -40px;
    transition-duration: 0.4s;
}

.route-text{
    margin-top: -40px;
    width: 90%;
    height: 130px;
    transition-duration: 0.4s;
}