.App {
    background-color: #D8D8D8;
    font-family: 'Poppins';
    position: relative;
}

.container-gallery{
    background-color: white;
    width: 100%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.gallery-box{
    max-width: 1200px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: hidden;
    /* background-color: yellow; */
}

.gallery-tile{
    flex: 1 1 342px; /* Shrinks or grows tiles to fit, starting from 200px */
    max-width: 342px; /* Maximum width of each tile */
    height: 250px; /* Set a height for the tiles */ /* Example background color */
    margin: 20px; 
    position: relative;
}

.gallery-photo{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.photo-shadow{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 2;
    opacity: 0.7;
    transition: opacity 0.5s ease; 
}

.photo-text{
    position: absolute;
    bottom: -10px;
    right: 6%;
    color: rgba(255, 255, 255, 0.8);
    z-index: 2;
    font-size: 26px;
    transition: font-size 0.3s ease, color 0.3s ease;
}

.gallery-tile:hover .photo-text{
    font-size: 27px;
    color: rgba(255, 255, 255, 0.9);
}

.gallery-tile:hover .photo-shadow {
    opacity: 1;
}